---
layout: default
---

{% include pages.html %}
<div class="content">
  <section class='post'>
    <h1 class="upcase">
      <div class='date'>{{ page.date | date_to_string }}</div>
      {{ page.title }}
      <div class='date'>{{ page.categories | join: ' , ' }}</div>
    </h1>
    {{ content }}
    {% include signoff.html %}


  </section>

{% if page.share != 'n' %}
{% include _duoshuo-share.html %}
{% endif %}   

</div>


{% if page.disqus != 'n' %}
  {% include disqus.html %}
{% endif %}
{% include links.html %}